<!DOCTYPE html>
<html>

<head>
  <title>Login Page</title>
</head>

<body>
  <form action="/aparna" method="post">
   
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter your Name" id="username" name="username">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter your password" id="password" name="password">

      <button type="submit">SUBMIT</button>
  </form>
</body>

</html>